@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@plugin 'tailwind-scrollbar';
@plugin '@tailwindcss/typography';

@theme {
	--font-inter: 'Inter', sans-serif;

	--color-text: rgb(239, 245, 246);
	--color-background: rgb(5, 9, 10);
	--color-primary: rgb(153, 193, 209);
	--color-secondary: rgb(11, 67, 91);
	--color-accent: rgb(78, 160, 193);
}

html {
	scroll-behavior: smooth;
}

body {
	@apply m-0 bg-zinc-100 font-inter text-zinc-900 antialiased;
}

::selection {
	@apply bg-accent/30 text-black;
}
